.nice-grey {
    color: #6b7c93;
}

.nice-blue {
    background-color: #0264ff !important;
    color: white !important;
    font-weight: bold;
}

.nice-light-blue {
    background-color: #aac9ff!important;
    color: white !important;
    font-weight: bold;
}

.nice-light-blue-back {
    background-color: #c5daff!important;
    color: #263142 !important;
    font-weight: bold !important;
    padding: 0 5px;
}

.nice-yellow {
    background-color: #fffb93!important;
    color: #667182 !important;
    font-weight: bold !important;
    padding: 0 5px;
}

.nice-pink {
    background-color: #ff98a4!important;
    color: white !important;
    font-weight: bold;
}

.nice-light-pink {
    background-color: #ffb4be!important;
    color: white !important;
    font-weight: bold;
}

.nice-dark-pink {
    background-color: #ff6e82!important;
    color: white !important;
    font-weight: bold;
}

.timeline-container {
    max-width: 480px;
    margin: auto;
}

.main-text {
    max-width: 700px;
}

.title {
    margin-top: 1.5em;
    margin-bottom: 4.5rem !important;
}

.card {
    max-width: 480px;
    margin: auto;
    border-radius: 6px;
}

.duotone-portrait {
    border-radius: 6px;
}

.subtitle {
    text-align: left;
    max-width: 480px;
    margin: auto;
}

p {
    padding-bottom: 13px;
}

.contact-me {
    text-align: center;
    padding-bottom: 33px;
    padding-top: 20px;
}

p.location-container {
    font-style: italic;
    color: #ff98a4;
}

.location {
    font-size: 0.9em;
}

#copyButton {
    margin-top: 4px;
}
